{%extends 'base.html' %}

{%block contents %}
<body>
    <div>
        <div class="jumbotron" style="padding-top:100px; height:400px; ">
            <h1 class="display-4">
                <div class="container">
                        <h1 style="font-weight:600; color:darkslategrey"> InterFit - YM Consulting </h1>
                </div>
            </h1>
            <div class="container">  
                <p class="lead">InterFit - 구직자 추천 </p>
            </div>
            <div class="container">
                <hr class="my-4">
                <p>DeepLearning 구직자 추천 서비스</p>
                <p>문의 사항이 있으면 자유롭게 문의 해 주세요.</p>
                
                </div>
        </div>
    </div>
</body>

{%endblock%}
