{%extends 'base.html' %}

{%block contents%}

<div class="container" style="padding-top:100px;">
    <h1 style="font-weight:600; color:darkslategray"> 새 이력서 등록 </h1>
<br>

<div class="container">
    <h1> Register </h1>
    <br>

    <form method = "POST" action = "{% url 'create' %}"> <!-- 주의코드 --> 
        
        {%csrf_token%}<!-- 주의코드 -->

        <div class="card" style="">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;" >지원 회사 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                지원회사 :
                <select name = 'company' class="selectpicker" data-live-search="true" style="margin-left: 10px">
                    <option value="회사" selected disabled hidden >구분 선택</option>
                    {% for company_list in company_list %}
                        <option value="{{company_list}}" style="color: black">{{company_list}}</option>
                    {% endfor %}
                </select>
                <br>
                <!-- 채용난이도(?) :
                <select name = 'level' class="selectpicker" data-live-search="true" style="margin-left: 10px">
                    <option value="회사" selected disabled hidden >회사 선택</option>
                    {% for company_list in company_list %}
                        <option value="{{company_list}}" style="color: black">{{company_list}}</option>
                    {% endfor %}
                </select>
                <br> -->
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
        </div>

        <div class="card" style="">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;"  >지원 포지션 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

                지원직무 :
                <select class="selectpicker" name = 'position'  data-live-search="true" style="margin-left: 10px">
                    <option value="회사" selected disabled hidden >직무 선택</option>
                    {% for position in position %}
                        <option value="{{position}}" style="color: black">{{position}}</option>
                    {% endfor %}
                </select>
                <br>
                지원직급 :
                <select class="selectpicker" name = 'position2' data-live-search="true" style="margin-left: 10px">
                    <option value="회사" selected disabled hidden >직급 선택</option>
                    {% for position2 in position2 %}
                        <option value="{{position2}}" style="color: black">{{position2}}</option>
                    {% endfor %}
                </select>
                <br>
                직무상세 :
                <select class="selectpicker" name = 'position_detail' data-live-search="true" style="margin-left: 10px">
                    <option value="회사" selected disabled hidden >상세 선택</option>
                    <optgroup label="경영지원">
                    {% for position_detail1 in position_detail1 %}
                        <option value="{{position_detail1}}" style="color: black">{{position_detail1}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="IT개발">
                    {% for position_detail2 in position_detail2 %}
                        <option value="{{position_detail2}}" style="color: black">{{position_detail2}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="생산/제조/연구개발">
                    {% for position_detail3 in position_detail3 %}
                        <option value="{{position_detail3}}" style="color: black">{{position_detail3}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="영업/마케팅">
                    {% for position_detail4 in position_detail4 %}
                        <option value="{{position_detail4}}" style="color: black">{{position_detail4}}</option>
                    {% endfor %}
                    </optgroup>
                    <optgroup label="전문직/특수직무">
                    {% for position_detail5 in position_detail5 %}
                        <option value="{{position_detail5}}" style="color: black">{{position_detail5}}</option>
                    {% endfor %}
                    </optgroup>
                </select>
                <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
        </div>

        
        <div class="card" style="">
            <div class="card-body">
              <h5 class="card-title" style="font-weight: 600;" >지원자 이력서 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>

                    이름 :
                    <input name="resume_name" size="10" type="text" style="margin-left: 50px; margin-top: 10px; width:100px; " value="">
                    <br>
                    성별 :
                    <select name="sex" class="booking_input booking_input_container" style="margin-left: 50px; margin-top: 10px; width:100px;" required="required">
                        <option value="null" selected disabled hidden>선택</option>
                        {% for sex in sex %}
                            <option value="{{sex}}" style="color: black">{{sex}}</option>
                        {% endfor %}
                    </select>
                    <br>
            
                    출생년도 :
                    <input name="born_year" size="10" type="text" style="margin-left: 18px; margin-top: 10px; width:100px;" value="">
                    <br>
                    학력사항 :
                    <select name="final_edu" class="booking_input booking_input_container" style="margin-left: 18px; margin-top: 10px; width:100px;" required="required">
                        <option value="" selected disabled hidden>선택</option>
                        {% for edu in edu %}
                            <option value="{{edu}}" style="color: black">{{edu}}</option>
                        {% endfor %}
                    </select>
                    <br>
                    총 경력 :
                    <input name="work_year" size="10" type="number" min='0' max='100' style="margin-left: 30px; margin-top: 10px; width:100px; " value="">
                    <br>
                    희망연봉 :
                    <input name="salary" size="10" type="number" min='0' style="margin-left: 18px; margin-top: 10px; width:100px; " value="">(만원)
                    <br>
                    <br>
                    경력 상세 
                    <br>
                    <textarea name="resume_detail" cols='100' rows='20' style="margin-left: 10px; margin-top: 10px;" placeholder="상세 사항을 적어주세요 ... " ></textarea>
                    <br>
                    <br>

                    합불여부 :
                    <select name="outcome" class="booking_input booking_input_container" style="margin-left: 18px; margin-top: 10px" required="required">
                        <option value="" selected disabled hidden>선택</option>
                        {% for outcome in outcome %}
                            <option value="{{outcome}}" style="color: black">{{outcome}}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <br>
        <input calss = "btn btn-primary" type="submit" value="이력서 등록하기" style="margin-bottom: 200px;">
    </form>
</div>
</div>
{%endblock%}
